{% csrf_token %}

<p><label>Title</label></p>
<p><input type="text" name="title"
          {% if errors.title %}class="field-error"{% endif %}
          value="{{ article.title }}"></p>
{% if errors.title %}<p class="form-error">{{ errors.title }}</p>{% endif %}

<p><label>Author</label></p>
<p><input type="text" name="author"
          {% if errors.author %}class="field-error"{% endif %}
          value="{{ article.author }}"></p>
{% if errors.author %}<p class="form-error">{{ errors.author }}</p>{% endif %}

<p><label>Text</label></p>
<p><textarea name="text" {% if errors.text %}class="field-error"{% endif %}>{{ article.text }}</textarea></p>
{% if errors.text %}<p class="form-error">{{ errors.text }}</p>{% endif %}

<p><input type="submit" value="{{ button_text }}"></p>